* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

form {
  display: flex;
  flex-direction: column;
  padding: 24px 36px;
}

.field {
  padding: 12px 0px;
}

.menu-item {
  padding-top: 12px;
  text-align: left; /* Alinhamento à esquerda quando selecionado */
}

.box {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  h1 {
    margin-bottom: 12px;
    font-weight: bold;
  }

  h2 {
    margin-bottom: 24px;
    font-size: 20px
  }
}

.button-wrapper {
  display: flex;
  padding: 24px 0px 18px 0px;
  align-items: center;
  justify-content: center;
}

.button-submit {
  background-color: #723bb2;
  width: fit-content;

  &:hover {
    background-color: #612aa1;
  }
}

.chip-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  align-items: center;

  p {
    padding-top: 16px;
    color: #777;
    font-size: 12px;
  }
}